body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 360px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0;
}

.background {
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url("https://cdn.cfr.org/sites/default/files/styles/full_width_xl/public/image/2017/08/RTS18BXU.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(9px);
}

.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
  text-align: center;
  color: white;
}

form {
  width: 360px;
  display: block;
  margin: 0 auto;
}

form > input,
form > textarea {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}

form > label {
  /*color: rgba(0, 0, 0, 0.7);*/
  color: white;
  font-size: 1rem;
  font-weight: bolder;
  margin-top: 10px;
}
form > input {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

form > button {
  padding: 0.5rem 1.5rem;
  background: #3fb7b2;
  color: #fff;
  border: none;
  font-weight: 750;
  border-radius: 4px;
  cursor: pointer;
  width: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
}

form > button:focus {
  outline: none;
}

.nav {
  position: fixed;
  right: 50px;
  top: 50px;
  text-align: left;
}

.hide {
  display: none;
}

.desc:hover + .hide {
  display: block;
  color: white;
  font-size: smaller;
  font-weight: bold;
}

/* hide the arrows for input number*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
